## Basics of pandas using an imported CSV file:
A couple of csv files are downloaded from stackoverflow and using them basic operations of pandas are done here.

In [10]:
import pandas as pd
df=pd.read_csv('survey_results_public.csv')
df.head()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [7]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

##### Finding the count of elements found inside a column:

In [11]:
#The below command gives us the total count of each element present in df
df['Gender'].value_counts()

Man                                                                                   74817
Woman                                                                                  4120
Prefer not to say                                                                      1442
Non-binary, genderqueer, or gender non-conforming                                       690
Or, in your own words:                                                                  413
Man;Or, in your own words:                                                              268
Man;Non-binary, genderqueer, or gender non-conforming                                   252
Woman;Non-binary, genderqueer, or gender non-conforming                                 147
Man;Woman                                                                                41
Man;Woman;Non-binary, genderqueer, or gender non-conforming                              21
Non-binary, genderqueer, or gender non-conforming;Or, in your own words:                 21
Man;Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:       17
Woman;Or, in your own words:                                                             16
Man;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:             11
Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:            9
Man;Woman;Or, in your own words:                                                          1
Name: Gender, dtype: int64

#### loc() and iloc():

In [13]:
#using iloc to display first two rows
df.iloc[[0,1]]

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN

In [16]:
#displaying the rows as well as the specific columns that we wanted
df.iloc[[0,2],[3,6]]

              Country                                            EdLevel
0            Slovakia  Secondary school (e.g. American high school, G...
2  Russian Federation       Bachelor’s degree (B.A., B.S., B.Eng., etc.)

In [20]:
#displaying the desired rows using loc
df.loc[[0,2]]

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN

In [24]:
#To display specific rows and columns using loc
df.loc[[0,1,2],['Country','EdLevel']]

              Country                                            EdLevel
0            Slovakia  Secondary school (e.g. American high school, G...
1         Netherlands       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2  Russian Federation       Bachelor’s degree (B.A., B.S., B.Eng., etc.)

In [28]:
#reading schema csv file using pandas
df_schema=pd.read_csv('survey_results_schema.csv')
df_schema.head()

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
3,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
4,QID24,Employment,Which of the following best describes your cur...,False,MC,MAVR

In [30]:
# Find out the size of the data frame using .shape function
df_schema.shape

(48, 6)

In [32]:
#Find all the atributes of first row
df.loc[0 ]

ResponseId                                                                      1
MainBranch                                         I am a developer by profession
Employment                      Independent contractor, freelancer, or self-em...
Country                                                                  Slovakia
US_State                                                                      NaN
UK_Country                                                                    NaN
EdLevel                         Secondary school (e.g. American high school, G...
Age1stCode                                                          18 - 24 years
LearnCode                       Coding Bootcamp;Other online resources (ex: vi...
YearsCode                                                                     NaN
YearsCodePro                                                                  NaN
DevType                                                         Developer, mobile
OrgSize                                                        20 to 99 employees
Currency                                                        EUR European Euro
CompTotal                                                                  4800.0
CompFreq                                                                  Monthly
LanguageHaveWorkedWith              C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift
LanguageWantToWorkWith                                                      Swift
DatabaseHaveWorkedWith                                          PostgreSQL;SQLite
DatabaseWantToWorkWith                                                     SQLite
PlatformHaveWorkedWith                                                        NaN
PlatformWantToWorkWith                                                        NaN
WebframeHaveWorkedWith                                            Laravel;Symfony
WebframeWantToWorkWith                                                        NaN
MiscTechHaveWorkedWith                                                        NaN
MiscTechWantToWorkWith                                                        NaN
ToolsTechHaveWorkedWith                                                       NaN
ToolsTechWantToWorkWith                                                       NaN
NEWCollabToolsHaveWorkedWith                                       PHPStorm;Xcode
NEWCollabToolsWantToWorkWith                                           Atom;Xcode
OpSys                                                                       MacOS
NEWStuck                        Call a coworker or friend;Visit Stack Overflow...
NEWSOSites                                                         Stack Overflow
SOVisitFreq                                                Multiple times per day
SOAccount                                                                     Yes
SOPartFreq                                        A few times per month or weekly
SOComm                                                            Yes, definitely
NEWOtherComms                                                                  No
Age                                                               25-34 years old
Gender                                                                        Man
Trans                                                                          No
Sexuality                                                 Straight / Heterosexual
Ethnicity                                            White or of European descent
Accessibility                                                   None of the above
MentalHealth                                                    None of the above
SurveyLength                                                Appropriate in length
SurveyEase                                                                   Easy
ConvertedCompYearly                                                       62268.0
Name: 0, dtype: object

In [35]:
#Find out an atribute value of a particular row or some different rows
df.loc[[0],'Gender']

0    Man
Name: Gender, dtype: object

In [37]:
df.loc[[0,1,2],'Gender'] #Finds gender of 0,1 and 2 columns

0    Man
1    Man
2    Man
Name: Gender, dtype: object

In [44]:
df.loc[0:2,'Age']

0    25-34 years old
1    18-24 years old
2    18-24 years old
Name: Age, dtype: object

In [46]:
#we can use indexing between two columns using loc as shown below
df.loc[0:2,'Country':'EdLevel']

,Country,US_State,UK_Country,EdLevel
0,Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G..."
1,Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
2,Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)"